*{
    margin: 0px;
    padding: 0px;
    font-family:Brush Script MT, arial;
}
body {
    font-family: Verdana;
    background-color: rgba(78, 194, 248, 0.596);
    width: 100%;
    height: auto;
}
.container {
    box-shadow: 0 1rem 1rem 1rem;
    background-color: aquamarine;
    /* border: 4px red solid; */
    width: 60%;
    font-size: 250%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.notepad {
    min-height: 100vh;
    width: max-content;
    justify-content: center;
    margin: auto;
}
.input {
    display: flex;
    margin-top: 1rem;
    /* border: 1px solid; */
}
.input img{
    height: 2rem;
    /* border: 1px solid; */
}
.input input {
    font-family: inherit;
    background-color: inherit;
    font-size: 100%;
    outline: 0;
    border: 0;
    border-bottom: 3px solid rgb(0, 0, 0);
    width: 100%;
}
.container h1 {
    text-align: center;
}
#display {
    border: 1px solid red;
}
