<%- include("header.ejs") %>

<div id="box1"></div>
<div id="box2"></div>
<form action="/notes" method="post" name="mainform">
    <div id="date">
        <h1><%= banner %> </h1>
    </div>
    <div id="todo">
        <input type="text" name="item" placeholder="New Note">
        <input type="submit" name="submit" id="submit" value="+">
        <% for(let i = 0; i < items.length; i++){%>
            <input type="checkbox"><span> <%= items[i] %></span><br>
        <% } %>
    </div>
    <footer>Developed by Prajwal Negi: @negiprajwal22@gmail.com</footer>
</form>

<%- include("footer.ejs") %>