*{
    padding: 0;
    margin: 0;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    z-index: -3;
    background-color: rgb(238, 152, 253);
    overflow-x: hidden;
}

#reset {
    position: fixed;
    background-color: rgb(148, 191, 255);
    padding: 1rem;
    font-size: 150%;
    margin: 1rem;
    border: none;
    box-shadow: 0rem 0rem 1rem  rgba(0, 0, 0, 0.404);
    border-radius: 0.3em;
}

#box1{
    position:fixed;
    background-color:rgb(148, 191, 255);
    width: 100%;
    height: 150%;
    z-index: -2;
    margin-top: 40vh;
    transform: skewY(-30deg);
    box-shadow: 0rem 0rem 1rem  rgba(0, 0, 0, 0.404);
}
#box2{
    position: fixed;
    background-color:rgb(130, 253, 140);
    width: 100%;
    height: 250%;
    z-index: -1;
    margin-top: 75vh;
    transform: skewY(30deg);
    box-shadow: 0rem 0rem 1rem  rgba(0, 0, 0, 0.404);
}

form {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 150%;
    margin-bottom: 5rem;
}

#date {
    margin-top: 10rem;
    background-color: rgb(130, 253, 140);
    width: 25rem;
    text-align: center;
    box-shadow: 0rem 0rem 1rem  rgba(0, 0, 0, 0.404);
    border-radius: 0.3em;
    padding: 1rem;
    color: rgb(109, 109, 109);
}
#todo {
    margin-top: 1rem;
    background-color: rgb(253, 255, 227);
    width: 25rem;
    box-shadow: 0rem 0rem 1rem  rgba(0, 0, 0, 0.404);
    border-radius: 0.3em;
    padding: 1rem;
    color: rgb(98, 97, 97);
    font-size: 80%;
}

#todo input[type=checkbox]{
    margin: 1rem 1rem 2rem;
}

input:checked + span{
    text-decoration: line-through;
}

#todo input[type=text]{
    color: rgb(122, 122, 122);
    height: 3rem;
    width: 21rem;
    border: 0px;
    outline: none;
    margin: 0rem;
    font-size: 100%;
    text-align: center;
}

#todo input[type=submit]{
    width: 3rem;
    height: 3rem;
    float: right;
    border: 0;
    border-radius: 50%;
    background-color: rgb(238, 152, 253);
    box-shadow: 0rem 0rem 0.5rem  rgb(149, 149, 149);
    font-size: 200%;
}

footer {
    color: rgb(96, 96, 96);
    font-size: 75%;
    text-align: center;
    padding: 1rem;
}

